<h1 class="text-white">About this Application</h1>
<p class="text-white">This is an Application for Movie makers to jot down their the movie idea before production it as a script for production or filming</p>
<p class="text-white">Version 1.0.0</p>