<div class="jumbotron text-center align-items-center ">
  {{!-- <img   class="logodash" src="/img/logo.png" alt=""> --}}
  <div class="welcome mb-2">
    <img class="welcome img-fluid" src="/img/wel.png" alt="">
  </div>
  {{!-- <h1 class="display-3">Welcome</h1> --}}
  <div class="row ">
    <div class="col-md-6 mt-3">
      {{!-- <p class="lead">Write down idea for your next Movie</p> --}}
      <a href="/ideas/add" class="btn btn-dark btn-lg bg-danger">Add Movie</a>
    </div>
    <div class="col-md-6 mt-3">
      {{!-- <p class="lead">view all you Movie Ideas</p> --}}
      <a href="/ideas" class="btn btn-dark btn-lg bg-danger">View Movies</a>
    </div>
  </div>
</div>